@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --head__menu-grid__item: #FFF0CB;
    --head__menu-grid__item__button: #FFC839;
    --head__menu-grid__item__button__active: #e6b333;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: white;
}

.header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
    padding-top: 3.4rem;
    z-index: 100;
    transition: 0.2s all;
}

.header__navigation__list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-size: calc(8px + 10 * (100vw / 1440));
    font-weight: 400;
    color: white;
}

.header__navigation {
    width: 44%;
    margin-right: 14%;
}

@media screen and (max-width: 1000px) {
   .header__navigation {
    width: 60%;
    margin-right: 14%;
   }
}

@media screen and (max-width: 500px) {
    .header {
        padding-top: 1rem;
    }
} 

.header__navigation__item {
    cursor: pointer;
    position: relative;
    display: inline-block;
    transition: 0.2s all;
}

.header__navigation__item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.1rem;
    background-color: white;
    opacity: 0;
    transition: 0.2s all;
}

.header__navigation__item:hover::after {
    opacity: 1;
}

.header__navigation__item:hover {
    color: var(--head__menu-grid__item__button);
}

.header__burger {
    display: none;
}

.header__burger-button {
    cursor: pointer;
}

.header__burger-button-one {
    width: 20px;
    height: 2px;
    background-color: white;
    transition: 0.2s all;
}

.header__burger-button-two {
    margin-top: 0.2rem;
    width: 20px;
    height: 2px;
    background-color: white;
    transition: 0.2s all;
}

.header__burger-button-three {
    margin-top: 0.2rem;
    width: 20px;
    height: 2px;
    background-color: white;
    transition: 0.2s all;
}

.header__burger__line-one__open {
    transform: rotateZ(45deg) translateY(2px) translateX(3px);
}

.header__burger__line-two__open {
    opacity: 0;
}

.header__burger__line-three__open {
    transform: rotateZ(-45deg) translateY(-5px) translateX(5px);
}

.header__wrapper {
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: 0.2s all;
}

.header__padding__scroll {
    padding-top: 2rem;
}

.header__burger-menu {
    position: absolute;
    top: 5rem;
    left: 0;
    background-color: black;
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    opacity: 0;
    transform: translateY(-30rem);
    transition: 0.2s all;
}

.header__burger-menu__open {
    transform: translateY(0rem);
    opacity: 1;
}

.header__burger-menu__item {
    height: 5rem;
    color: red;
    width: 90%;
    margin: 0 auto;
}

.header__burger-menu__item-text {
    font-size: calc(12px + 10 * (100vw / 1440));
    font-weight: 400;
    color: white;
}

@media screen and (max-width: 600px) {
    .header__navigation {
        display: none;
    }

    .header__burger {
        display: block;
    }
}

.head {
    width: 100%;
}

.head__background {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -10;
}

.head__background-img {
    display: block;
    width: 100%;
    position: relative;
}

.head__background::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(0.87deg, rgba(2, 55, 135, 0.9) 0.69%, rgba(81, 38, 174, 0.4736) 100.48%, rgba(38, 92, 174, 0.0102906) 100.49%, rgba(195, 195, 196, 0.00520833) 100.5%, #76A6EF 100.51%);
}

.head__content {
    width: 90%;
    margin: 0 auto;
}

.head__text {
    padding-top: 18%;
}

.head__text-header {
    font-size: calc(12px + 48 * (100vw / 1440));
    font-weight: 700;
    color: white;
    font-family: 'Nunito', sans-serif;
}

.head__text-additional {
    font-size: calc(5px + 22 * (100vw / 1440));
    font-weight: 400;
    color: white;
    font-family: 'Nunito', sans-serif;
}

.head__menu {
    margin-top: 5%;
    width: 100%;
    height: 10.8rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .head__menu {
        height: 5rem;
    }
}

@media screen and (max-width: 500px) {
    .head__menu {
        height: 2rem;
    }
}

.head__menu-grid {
    width: 90%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
}

@media screen and (max-width: 500px) {
    .head__menu-grid {
        display: block;
        background-color: var(--head__menu-grid__item);
    }

    .head__menu-grid__item__button {
        margin-left: 80%;
        height: 80%;
        width: 20%;
    }
}

.head__menu-grid__item {
    background-color: var(--head__menu-grid__item);
}

.head__menu-grid__item:nth-child(2){
    grid-column-start: 2;
    grid-column-end: 6;
}

.head__menu-grid__item:nth-child(1) {
    width: 95%;
}

.head__menu-grid__item:nth-child(3) {
    width: 95%;
}

.head__menu-grid__item__button {
    outline: none;
    border: none;
    background-color: var(--head__menu-grid__item__button);
    font-size: calc(5px + 16 * (100vw / 1440));
    cursor: pointer;
    transition: 0.2s all;
    position: relative;
}

.head__menu-grid__item__button:hover {
    background-color: #f7c037;
}

.head__menu-grid__item__button:active {
    background-color: var(--head__menu-grid__item__button__active);
}

.head__menu-grid__item__button p {
    position: relative;
    display: inline-block;
}

.head__menu-grid__item__button p::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.1rem;
    background-color: black;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: 0.2s all;
}

.head__menu-grid__item__button p:hover::after {
    opacity: 1;
}

.choise {
    width: 90%;
    margin: 0 auto;
    margin-top: 20%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem;
}

.choise__card {
    position: relative;
    cursor: pointer;
    transition: 0.2s all;
}

.choise__card__background {
    max-width: 399px;
    width: 100%;
    height: auto;
    position: relative;
}

.choise__card__background-img {
    width: 100%;
    height: auto;
}

.choise__card__footer {
    width: 100%;
    height: 6rem;
    background-color: white;
    bottom: -5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(8px + 6 * (100vw / 1440));
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    gap: 1rem;
    box-shadow: 0px 4px 59px -14px rgba(171, 124, 0, 0.29);
}

.choise__card__footer-text {
    transform: translateX(-0.4rem);
}

.choise__card__arrow {
    width: 10px;
    height: 10px;
}

@media screen and (max-width: 600px) {
    .choise {
        flex-direction: column;
        align-items: center;
        row-gap: 4rem;
    }

    .choise__card__background {
        width: 16rem;
    }
}

.choise__card:hover {
    box-shadow: 0px 4px 59px -14px black;
}

.company {
    width: 90%;
    margin: 0 auto;
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.company__left-side {
    width: 50%;
}

.company__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.company__item-text__header {
    font-size: calc(16px + 13 * (100vw / 1440));
    font-weight: 400;
    color: #4A4A4A;
    font-family: 'Nunito', sans-serif;
}

.company__item-text__additional {
    font-size: calc(12px + 9 * (100vw / 1440));
    font-weight: 400;
    color: #4A4A4A;
    font-family: 'Nunito', sans-serif;
}

.company__header {
    position: absolute;
    top: 0;
    font-size: calc(20px + 16 * (100vw / 1440));
    font-weight: 700;
    color: #323232;
    font-family: 'Nunito', sans-serif;
}

.company__item {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.company__right-side {
    width: 50%;
}

.company__img {
    width: 100%;
    max-width: 425px;
    height: auto;
    float: right;
    position: relative;
}

.company__img-container {
    position: relative;
    width: fit-content;
    height: auto;
    float: right;
}

.company__img-container::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 60%;
    background-color: var(--head__menu-grid__item__button);
    top: 25%;
    left: -4rem;
    z-index: -1;
}

.company__svg {
    width: 20%;
    max-width: 90px;
}

@media screen and (max-width: 1100px) {
    .company {
        flex-direction: column;
    }

    .company__left-side {
        margin-top: 6rem;
        width: 100%;
    }

    .company__right-side {
        margin-top: 4rem;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .company__img-container::after {
        display: none;
    }

    .company__img-container {
        float: none;
    }

    .company__right-side {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.company__img-container:hover::after {
    animation: floating 1s ease-in-out infinite;
}

@keyframes floating {
    0% {
        left: -4rem;
    }

    50% {
        left: -6rem;
    }

    100% {
        left: -4rem;
    }
}

.book {
    width: 90%;
    height: 18rem;
    background-color: #FFF5DA;
    margin: 0 auto;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.book__header {
    font-size: calc(20px + 16 * (100vw / 1440));
    font-weight: 700;
    color: #323232;
    font-family: 'Nunito', sans-serif;
}

.book__additional {
    font-size: calc(12px + 9 * (100vw / 1440));
    font-weight: 400;
    color: #4A4A4A;
    font-family: 'Nunito', sans-serif;
}

.book__input {
    display: flex;
    width: 100%;
    height: 2rem;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    padding: 2rem;
    margin-top: 1rem;
}

.book__input-flag {
    display: flex;
    align-items: center;
    font-size: calc(8px + 21 * (100vw / 1440));
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    gap: 0.4rem;
}

.book__input-field {
    width: 60%;
    height: 2rem;
    outline: none;
    border: none;
    caret-color: #1613D4;
    font-size: calc(8px + 21 * (100vw / 1440));
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
}

.book__input-button {
    background-color: var(--head__menu-grid__item__button);
    text-align: center;
    font-size: calc(12px + 17 * (100vw / 1440));
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    cursor: pointer;
    transition: 0.2s all;
}

.book__input-button:hover {
    background-color: #f7c037;
}

.book__input-button:active {
    background-color: var(--head__menu-grid__item__button__active);
}

@media screen and (max-width: 400px) {
    .book__input {
        padding: 1.2rem;
    }
}

.inspiration {
    width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
}

.inspiration__content {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.inspiration__item {
    flex: 20%;
    text-align: center;
}

.inspiration__item-img {
    width: 100%;
    max-width: 293px;
}

.inspiration__header {
    font-size: calc(20px + 16 * (100vw / 1440));
    font-weight: 700;
    color: #323232;
    font-family: 'Nunito', sans-serif;
}

.ideas {
    width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
}

.ideas__content {
    display: flex;
    gap: 4rem;
    margin-top: 2rem;
}

.ideas__left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.ideas__left-side__text-one {
    font-size: calc(14px + 6 * (100vw / 1440));
    font-weight: 700;
    color: #606060;
    font-family: 'Nunito', sans-serif;
}

.ideas__left-side__text-two {
    font-size: calc(14px + 6 * (100vw / 1440));
    font-weight: 700;
    color: #606060;
    font-family: 'Nunito', sans-serif;
    margin-top: 1rem;
}

.ideas__left-side__button {
    outline: none;
    border: none;
    background-color: var(--head__menu-grid__item__button);
    width: 50%;
    min-width: 228px;
    font-size: calc(22px + 7 * (100vw / 1440));
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    padding: 1rem;
    filter: drop-shadow(0px 4px 22px rgba(0, 0, 0, 0.16));
    margin-top: 1rem;
    transition: 0.2s all;
cursor: pointer;
}

.ideas__left-side__button:hover {
    background-color: #f7c037;
}

.ideas__left-side__button:active {
    background-color: var(--head__menu-grid__item__button__active);
}

.ideas__right-side {
    display: flex;
    gap: 5%;
    width: 50%;
    align-items: flex-start;
}

.ideas__right-side__img-wrapper {
    width: 100%;
    text-align: end;
}

.ideas__right-side__img {
    width: 100%;
    max-width: 182px;
    height: auto;
}

.ideas__header {
    font-size: calc(20px + 16 * (100vw / 1440));
    font-weight: 700;
    color: #323232;
    font-family: 'Nunito', sans-serif;
}

.ideas__line {
    margin-top: 4rem;
    width: 100%;
    height: 0.1rem;
    background-color: #D7D6D6;
}

@media screen and (max-width: 900px) {
    .ideas__content {
        flex-direction: column;
    }

    .ideas__left-side {
        width: 100%;
    }

    .ideas__right-side {
        width: 100%;
    }

    .ideas__right-side__img-wrapper {
        text-align: center;
    }
}

.explore {
    width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
}

.explore__content {
    margin-top: 2rem;
    display: flex;
    gap: 4rem;
}

.explore__left-side {
    width: 50%;
}

.explore__left-side__text {
    margin-top: 9rem;
    font-size: calc(12px + 8 * (100vw / 1440));
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
}

.explore__right-side {
    width: 50%;
}

.explore__right-side__header {
    margin-top: 2rem;
    font-size: calc(16px + 8 * (100vw / 1440));
    font-weight: 700;
    color: #4A4949;
    font-family: 'Nunito', sans-serif;
}

.explore__right-side__additional {
    margin-top: 2rem;
    font-size: calc(12px + 8 * (100vw / 1440));
    font-weight: 700;
    color: #606060;
    font-family: 'Nunito', sans-serif;
}

.explore__header {
    font-size: calc(20px + 16 * (100vw / 1440));
    font-weight: 700;
    color: #323232;
    font-family: 'Nunito', sans-serif;
    width: fit-content;
}

@media screen and (max-width: 900px) {
    .explore__content {
        flex-direction: column-reverse;
    }

    .explore__left-side {
        width: 100%;
    }

    .explore__right-side {
        width: 100%;
    }

    .explore__left-side__text {
        margin-top: 0;
    }
}

.footer {
    margin-top: 6rem;
    background-color: #093A7A;
    padding: 4rem 0 4rem 0;
}

.footer__content {
    width: 90%;
    margin: 0 auto;
}

.footer__header {
    display: flex;
    justify-content: space-between;
    font-size: calc(12px + 4 * (100vw / 1440));
    font-weight: 400;
    color: #CACACA;
    gap: 2rem;
    flex-wrap: wrap;
}

.footer__header-item {
    cursor: pointer;
}

.footer__header-line {
    margin-top: 2rem;
    width: 100%;
    height: 0.1rem;
    background-color: rgba(255, 255, 255, 0.16);;
}

.footer__main-header {
    font-size: calc(16px + 8 * (100vw / 1440));
    font-weight: 700;
    color: white;
    font-family: 'Nunito', sans-serif;
}

.footer__main {
    margin-top: 2rem;
}

.footer__main__content-item__header {
    margin-top: 1rem;
    font-size: calc(14px + 6 * (100vw / 1440));
    font-weight: 400;
    color: white;
}

.footer__main__content-item__content {
    margin-top: 0.6rem;
    display: flex;
    justify-content: space-between;
    font-size: calc(12px + 4 * (100vw / 1440));
    font-weight: 400;
    color: #CACACA;
    gap: 2rem;
    flex-wrap: wrap;
}

.footer__main__content-item:nth-child(1) {
    width: 60%;
}

.footer__main__content-item:nth-child(2) {
    width: 30%;
}

.footer__main__content-item:nth-child(3) {
    width: 70%;
}

.footer__main__content-item:nth-child(4) {
    width: 40%;
}

.footer__main__content-item__content-item {
    cursor: pointer;
}

.footer__main-line {
    margin-top: 2rem;
    width: 100%;
    height: 0.1rem;
    background-color: rgba(255, 255, 255, 0.16);
}

.footer__footer {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.footer__footer-text {
    font-size: calc(12px + 4 * (100vw / 1440));
    font-weight: 400;
    color: #CACACA;
}

.footer__footer-logo {
    width: 100%;
    max-width: 165px;
    height: auto;
}

.footer__footer-img {
    width: 100%;
    max-width: 138px;
    height: auto;
}

@media screen and (max-width: 900px) {
    .footer__main__content-item:nth-child(1) {
        width: 100%;
    }

    .footer__main__content-item:nth-child(2) {
        width: 100%;
    }

    .footer__main__content-item:nth-child(3) {
        width: 100%;
    }

    .footer__main__content-item:nth-child(4) {
        width: 100%;
    }

    .footer__main__content-item__content {
        justify-content:space-evenly;
        align-items: center;
    }

    .footer__header {
        justify-content: space-evenly;
        align-items: center;
    }

    .footer__footer {
        justify-content: space-evenly;
        align-items: center;
    }
}
